@import '_reset.scss';

body{
    max-width: 1000px;
}
.title{
    background: lightslategrey;
}
// 1
.c03 {

.center03{
    display: block; 
    margin: auto;
   }

.font03{
    font-size: 26px;
    font-family: 'Courier New';
}
}

.c04{
    p{background-color: lightgreen;}
}



