body{
    max-width: 1000px;
}
.title{
    background: lightslategrey;
}
// 1
.03 div{
    width: 100%;
}
.center03{
    display: block; 
    margin: auto;
   }
.font03{
    font-size: 26px;
    font-family: 'Courier New';
}